<a href="https://colab.research.google.com/github/Kanyinsola-O/CE888/blob/main/Lab%203/bank_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.linear_model import SGDRegressor, BayesianRidge
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import accuracy_score as acc
from sklearn.metrics import make_scorer
from sklearn.dummy import DummyRegressor, DummyClassifier
from sklearn.preprocessing import LabelEncoder

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/albanda/CE888/master/lab3/bank-additional-full.csv", delimiter= ";")

features = ["age",
            "job", 
            "marital",
            "default",
            "housing",
            "loan",
            "contact",
            "month", 
            "day_of_week", 
            "duration",
            "campaign",
            "pdays", 
            "previous", 
            "poutcome",
            "emp.var.rate",
            "cons.price.idx",
            "cons.conf.idx",
            "euribor3m",
            "nr.employed",
             "y"]
df[features].head()

   age        job  marital  default  ... cons.conf.idx euribor3m nr.employed   y
0   56  housemaid  married       no  ...         -36.4     4.857      5191.0  no
1   57   services  married  unknown  ...         -36.4     4.857      5191.0  no
2   37   services  married       no  ...         -36.4     4.857      5191.0  no
3   40     admin.  married       no  ...         -36.4     4.857      5191.0  no
4   56   services  married       no  ...         -36.4     4.857      5191.0  no

[5 rows x 20 columns]

In [ ]:
outcomes= ["y"]


df[outcomes].head()

print(df[outcomes[-3:]].head().to_latex())

\begin{tabular}{ll}
\toprule
{} &   y \\
\midrule
0 &  no \\
1 &  no \\
2 &  no \\
3 &  no \\
4 &  no \\
\bottomrule
\end{tabular}

In [ ]:

df[["job"]] = df[["job"]].apply(LabelEncoder().fit_transform)

df.head()

   age  job  marital    education  ... cons.conf.idx euribor3m nr.employed   y
0   56    3  married     basic.4y  ...         -36.4     4.857      5191.0  no
1   57    7  married  high.school  ...         -36.4     4.857      5191.0  no
2   37    7  married  high.school  ...         -36.4     4.857      5191.0  no
3   40    0  married     basic.6y  ...         -36.4     4.857      5191.0  no
4   56    7  married  high.school  ...         -36.4     4.857      5191.0  no

[5 rows x 21 columns]

In [ ]:
import pandas as pd
 

df= df.dropna()
print(df)

outcomes_of_interest = ["y"]
n_bins = 20

X_df = df[features].copy()
y_df = df['y'].copy()

#print X_df.head().to_latex()

#print y_df.values
bins =  pd.qcut(y_df['y'[0]].values,n_bins)

y_df = df['y'].copy()
y_df['y'[0]] = bins

y_df['y'] = y_df['y'].apply(LabelEncoder().fit_transform)

print(y_df.head())

In [ ]:
#Changing outcome of interst to array instead of string to suit scikit learn
import numpy as np

outcome_of_interest= ["y"]
np.array = outcome_of_interest
display (np.array)

['y']

In [ ]:
print("Number of rows before dropping NaNs: %d" % len(df))
df = df.dropna()
print("Number of rows after dropping NaNs: %d" % len(df))

In [ ]:
print(df.columns)
features = []

print (df[features].head())

In [ ]:
y_df[''] = range(1, len(df) + 1)  # add a column
sns_plot = sns.lmplot(x="", y="", data=y_df, fit_reg=False, aspect=2)

# sns_plot.savefig("scaterplot_lpc.pdf", bbox_inches='tight')

In [ ]:
sns_plot = sns.jointplot(x="", y="", data=y_df, ratio = 2)

In [ ]:
X = X_df.values
y = y_df.values.T[0]
y = (y - y.min())/(y.max() - y.min())  # standardise the target variable

In [ ]:
sns_plot = sns.histplot(y, kde=False)
# sns_plot.savefig("histogram_lpc.pdf",bbox_inches='tight')

In [ ]:
clf = DecisionTreeRegressor()
clf.fit(X, y)
print("MSE of the model = %1.4g" % mse(y, clf.predict(X)))

In [ ]:
n_test = 100
n_repeat = 1000

estimator = DecisionTreeRegressor()
#estimator = RandomForestRegressor()

# Compute predictions
y_predicts = np.ones((n_repeat, len(X))) * np.nan

for i in range(n_repeat):
    sample  = np.random.choice(range(len(X)), replace=True, size=len(X))  # bootstrap!
    train_ids = sample[:-n_test]
    test_ids  = sample[-n_test:]
    test_ids = np.setdiff1d(test_ids, train_ids)  # only use those that weren't in the training set for testing
    if len(test_ids) == 0:
        continue
    X_train, y_train = X[train_ids], y[train_ids]
    X_test, y_test = X[test_ids], y[test_ids]
    
    estimator.fit(X_train, y_train)
    y_predict = estimator.predict(X_test)
    y_predicts[i, test_ids] = y_predict

In [ ]:
y_bias = (y - np.nanmean(y_predicts, axis=0)) **2
y_error = np.nanmean((y - y_predicts) **2, axis=0)#.mean()
y_var = np.nanvar(y_predicts, axis=0, ddof = 1)

print(np.nanmean(y_bias) +  np.nanmean(y_var))

clf_type = "Decision tree"
print("{0}: {1:.4f} (error) = {2:.4f} (bias^2) "
          "+ {3:.4f} (var)".format(clf_type, np.nanmean(y_error), np.nanmean(y_bias), np.nanmean(y_var)))

print("{0}: {1:.4f} ((bias^2) + (var)) = {2:.4f} (bias^2) "
          "+ {3:.4f} (var)".format(clf_type, np.mean(y_bias) + np.mean(y_var), np.mean(y_bias), np.mean(y_var)))

In [ ]:
#clf = RandomForestRegressor(n_estimators=1000,max_depth=2)
clf = BayesianRidge(normalize=True)
scores = cross_val_score(clf, X, y, cv=10, scoring = make_scorer(mse))

dummy_clf = DummyRegressor(strategy='mean')
dummy_scores = cross_val_score(dummy_clf, X, y, cv=10, scoring = make_scorer(mse))

print("MSE: %0.8f +/- %0.8f" % (scores.mean(), scores.std()))
print("Dummy MSE: %0.8f +/- %0.8f" % (dummy_scores.mean(), dummy_scores.std()))

In [ ]:
#copy of the orginal data set

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/albanda/CE888/master/lab3/bank-additional-full.csv", delimiter= ";")

features = ["age",
            "job", 
            "marital",
            "default",
            "housing",
            "loan",
            "contact",
            "month", 
            "day_of_week", 
            "duration",
            "campaign",
            "pdays", 
            "previous", 
            "poutcome",
            "emp.var.rate",
            "cons.price.idx",
            "cons.conf.idx",
            "euribor3m",
            "nr.employed",
             "y"]
df[features].head()

   age        job  marital  default  ... cons.conf.idx euribor3m nr.employed   y
0   56  housemaid  married       no  ...         -36.4     4.857      5191.0  no
1   57   services  married  unknown  ...         -36.4     4.857      5191.0  no
2   37   services  married       no  ...         -36.4     4.857      5191.0  no
3   40     admin.  married       no  ...         -36.4     4.857      5191.0  no
4   56   services  married       no  ...         -36.4     4.857      5191.0  no

[5 rows x 20 columns]